.input {
  padding: 1.4em 2em;
  border: 1px solid var(--border);
  color: var(--gray);
  box-shadow: 0px 4px 6px var(--border);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: var(--bg-offset);
  &:hover {
    box-shadow: 0px 0px 0px var(--border);
  }
}