select {
  appearance: none !important;
  outline: none;
  background-color: var(--bg-offset);
  border-radius: 0.25em;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border);
  padding: 1.4em 2em 1.4em 1em;
  margin: 0;
  margin-right: 1em;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  width: 100%;
  color: var(--gray);
}

.select-wrapper {
  min-width: 15ch;
  max-width: 30ch;
  cursor: pointer;
  line-height: 1.1;
  background-color: transparent;
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 6px var(--border);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover {
    box-shadow: 0px 0px 0px var(--border);
  }

  &::after {
    content: '';
    display: block;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--text);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
    margin-right: 1em;
  }
}

select,
.select-wrapper:after {
  grid-area: select;
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--text);
  border-radius: inherit;
}