.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    th {
      text-align: left;
      border-bottom: 2px solid var(--border);
      color: var(--text);
    }

    button {
      border: 0;
      border-radius: none;
      font-family: inherit;
      font-weight: 700;
      font-size: inherit;
      padding: 0.5em;
      margin-bottom: 1px;

      &.ascending::after {
        content: '👇';
        display: inline-block;
        margin-left: 1em;
      }

      &.descending::after {
        content: '☝️';
        display: inline-block;
        margin-left: 1em;
      }
    }
  }

  tbody tr {
    cursor: pointer;
    &:hover, &.selected {
      background-color: var(--border);
    }

    td {
      padding: 0.5em;
      border-bottom: 1px solid var(--border);
    }
  }
}